<h2>Aca se trabajará Socket.io y los Productos In Real Time</h2>

<div id="contenedorProductos"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/index.js"></script>
